Code/ProjectGr7/WebForm/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2230/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Model" />
  <xs:element name="InsertBike">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Model" minOccurs="0" name="b" nillable="true" type="q1:Bike" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBikeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBikeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDBike" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBikeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.Model" minOccurs="0" name="FindBikeByIdResult" nillable="true" type="q2:Bike" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SerializeToXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obj" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SerializeToXmlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>